
:root {
  --bcg-body: rgb(49, 47, 47);
  --bcg-wraper:#fafafa;
  --c-text: rgb(80, 75, 75);
  --bcg-title:rgb(62, 62, 83);
  --c-title:rgb(221, 215, 215);
  --c-text-transparent:rgba(80, 75, 75, 0.616);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--c-text);
  padding: 80px;
  background-color: var(--bcg-body);
}

.wraper {
   max-width: 1200px;
   padding: 40px 0;
   background-color: var(--bcg-wraper);
   
}
.main-content {
  padding: 20px 0;
}

.abaut-my {
  padding: 40px;
}
.abaut-title {
  font-size: 70px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.abaut-position {
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
.information {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: var(--c-text); 

}

.project-title {
  display: block;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 0.03em;
  background-color: var(--bcg-title);
  color: var(--c-title);
  padding: 10px 0 10px 50px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 40px 80px;
}
.progect-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.projects-skils {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--c-text-transparent);
}
.project-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}